fastai
ipywidgets
ipywebrtc
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyterlab-pygments
jupyterlab-widgets
kaggle==1.5.12
kapre==0.3.7
keras==2.8.0
Keras-Preprocessing==1.1.2
keras-vis==0.4.1
kiwisolver==1.4.3
voila
ipython
pillow==7.1.2
numpy==1.21.6
html5lib==1.0.1
tensorflow==2.8.2
tensorflow-datasets==4.0.1
tensorflow-estimator==2.8.0
tensorflow-gcs-config==2.8.0
tensorflow-hub==0.12.0
tensorflow-io-gcs-filesystem==0.26.0
tensorflow-metadata==1.9.0
tensorflow-probability==0.16.0
spacy==3.3.1
thinc==8.0.17
typer==0.4.2
numba==0.51.2
pathy==0.6.2
